<div class="container">
  <div class="row col-md-12">
    <table border="1px solid black" class="table">
      <tr>
        <th>
          User Id
        </th>
        <th>
          User Name
        </th>
      </tr>
      <tr *ngFor="let user of users" style="cursor: pointer" (click)="onManage(user)">
        <th>{{user.id}}</th>
        <th>{{user.username}}</th>
      </tr>
    </table>
  </div>
</div>
<button class="btn btn-primary" (click)=onShowPermissions()>
  {{permissionList ? 'Hide permissions': 'Show permissions'}}
</button>
<hr>
<app-permissions *ngIf="permissionList"></app-permissions>
